@{
    ViewData["Title"] = "HomePage";
}

@section Styles
{
    <link href="~/css/grdColStyl.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
        </div>
        <div class="col-sm-3">
            2 of 3
        </div>
        <div class="col-sm-3">
            3 of 3
        </div>
    </div>
</div>
