
@model GetExportedFilesModel
@{
    ViewData["Title"] = "GetExportedFiles";
}
@section Styles
{
    <link href="~/css/cstmStyleGetGroups.css" rel="stylesheet" />
    <link href="~/css/importedFileStyl.css" rel="stylesheet" />
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}

@section Scripts
{
    <script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $('#exportedfiles').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/datacontrolarea/data/GetExportedFileData",

                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 3,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href=
                                        '/datacontrolarea/data/DownloadFile/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Download
                                            </button>`;
                        }
                    }
                ]

            });
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">All Available Files</h2>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="exportedfiles" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Group Name</th>
                                <th>Export Date</th>
                                <th style="width:120px">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>File Name</th>
                                <th>Group Name</th>
                                <th>Export Date</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>








@*@{
        ViewData["Title"] = "GetExportedFiles";
    }

    @section Styles
    {
        <link href="~/css/cstmStyleGetGroups.css" rel="stylesheet" />
        <link href="~/css/importedFileStyl.css" rel="stylesheet" />
    }*@

@*<div class="container">
        <div class="row">
            <div class="col-sm-11 cstmStyl brdrCrv">
                <div class="row cstmStyl">
                    <div class="col-sm-2" style="font-weight:600">
                        Date From
                    </div>
                    <div class="col-sm-2 colMrgin" style="font-weight:600">
                        Date To
                    </div>
                </div>
                <form method="post" asp-controller="" asp-action="" asp-antiforgery="true">
                    <div class="row cstmStyl">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="date from">
                        </div>
                        <div class="col-sm-2 colMrgin">
                            <input type="text" class="form-control" placeholder="date to">
                        </div>
                        <div class="btnMrgin">
                            <button type="submit" class="btn btn-outline-secondary" style="font-weight:600">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All Exported Files</h3>
                    </div>
                     /.card-header
                    <div class="card-body">
                        <table id="Products" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>File Name</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                     /.card-body
                </div>
                 /.card
            </div>
             /.col
        </div>
         /.row
    </section>*@

