@model GetGroupModel
@{
    ViewData["Title"] = "Groups";
}
@section Styles
{
    <link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}

@section Scripts
{
    <script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $('#Groups').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/DataControlArea/Data/GetGroupData",

                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 1,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href=
                                             '/datacontrolarea/data/UploadContacts/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Upload Contacts
                                            </button>
                                            <button type="submit" class="btn btn-info btn-sm" onclick="window.location.href=
                                             '/datacontrolarea/data/EditGroup/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-sm show-bs-modal" href="#"
                                                          data-id='${data}' value='${data}'>
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </button>`;
                        }
                    }
                ]
            });

            $('#Groups').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?')
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/datacontrolarea/data/deletegroup")
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });

        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">All Available Groups</h2>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="Groups" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th style="width:350px">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Group Name</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <partial name="_DeletePopupPartial">
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
